---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: grafana-admin
  namespace: monitoring
spec:
  encryptedData:
    admin-password: AgB/YZX9t8sTHS1wE5QYnYyPCrleoVgNVU75UGEFX0N9PAY4d6IelBKeZHHS0kBymZ29qzMsbSNFQJWH1O3r3ZN0deZFAhwcXjLQX92s6wVAdEc7QH7edI/UaPr8LhfIxrXTMwohQ/U2D/dyTVtvNXFSz92tWBAFaWAc7/AW3n0GW1ckJOaJ1ECFh8Awy+HXP3YmauZJwgyiwjIwPpIfFO7SqnDn60k/85r6UOit57jxn1CNEuiU6jqn1Fhg0nAMOUr4HDzhlZmxWbGNwHUKN+kA++jVswXjmqxJP6fl9GqS16TQH6ZmYRMT5f7rMzkLrMyIllw4FDdCdwHDS6wSoxu+O2cKZl7L1HWk31BqD+4x4n5H04nYdK0Gq85rRuccb8qOLXGxw8DUtYrT8lacN+uyDLmA5dEDBzKiSBhvqenUy1naDaj1A+0KMJbsGQEfm5OFRDwHOQg3fEeUvVHqP04tGUb/usV+so1oYUUgCg/UMhhhdu8bjJsHpTS18acqdQY5M4o6jt6ebBwpgej8EcJA46OF/YcS3diDblkpeIszCcNpyQBNT7whbcZ96e4zsofD9kjF9euUP6E3ED0UharOsJ4ffZ/QOJ0aZeh6tj0Rm64EtqpXtSlitXlhbCtCLDHdUii2oraSPrTY6t3nX3UxP25VY5AKIaJ+Ki/HDrSaP3B0MMZM2Qb+c52NOMH4vYBYtwGKoCqmnLH5cLKWLr4ZaDH3CDX86hdIVrnerHJLArDKMqNtooJxh/3a9w==
  template:
    metadata:
      name: grafana-admin
      namespace: monitoring
