
apiVersion: kustomize.config.k8s.io/v1beta1

kind: Kustomization

 

namespace: database

 

resources:

  - namespace.yaml

  - statefulset.yaml

  - service.yaml

  - pvc.yaml

  - configmap.yaml

 

commonLabels:

  app: postgres

