
apiVersion: kustomize.config.k8s.io/v1beta1

kind: Kustomization

 

namespace: nextcloud

 

resources:

  - namespace.yaml

  - deployment.yaml

  - service.yaml

  - ingress.yaml

  - pvc.yaml

  # - configmap.yaml  # Uncomment if needed

 

commonLabels:

  app: nextcloud

