apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: database

resources:
  - pvc.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml

commonLabels:
  app: redis

# Redis cache for applications
# Connection: redis.database.svc.cluster.local:6379
