apiVersion: v1
kind: Service
metadata:
  name: samba
  namespace: samba
  labels:
    app: samba
spec:
  type: NodePort
  selector:
    app: samba
  ports:
  - name: smb-tcp
    port: 445
    targetPort: 445
    protocol: TCP
    nodePort: 30445  # Fixed NodePort for SMB/CIFS (445)
  - name: netbios-ns
    port: 137
    targetPort: 137
    protocol: UDP
    nodePort: 30137  # NetBIOS Name Service
  - name: netbios-dgm
    port: 138
    targetPort: 138
    protocol: UDP
    nodePort: 30138  # NetBIOS Datagram Service
  - name: netbios-ssn
    port: 139
    targetPort: 139
    protocol: TCP
    nodePort: 30139  # NetBIOS Session Service

  # sessionAffinity ensures the same client connects to the same pod
  # (though with single pod this doesn't matter much)
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800  # 3 hours
